
body {
    background-image: url(src/img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
.card-container{
    background-color: #FFC107;
}
.card-img-top{
    width: 18rem;
    height: 18rem;
}
.div-jumbotron {
    background:url(src/img/jumbotron-pokemon.jpg);
    background-size: cover;
    background-position: center;
    min-height: "45rem"; 

}
            

